 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
 

:root {
    --bg-color: #0f172a;
    --text-color: #f8fafc;
    --primary-color: #38bdf8;
    --secondary-bg: #01412b;
}


body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
        height: 100vh;
}
   /* RESET E CORES */
:root {
    --bg-color: #0a0a0a;
    --terminal-bg: #121212;
    --green-neon: #4ade80;
    --blue-neon: #38bdf8;
    --orange-neon: #fb923c;
    --text-color: #e2e8f0;
    --tag-color: #f87171;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: var(--bg-color);
    z-index: 0;
    color: var(--text-color); 
    background-image: linear-gradient(rgba(74, 222, 128, 0.05) 1px, transparent 1px);
    background-size: 100% 20px;
}

 
/* ANIMAÇÃO DE ROLAGEM */


/* Estado inicial: Invisível, levemente abaixo e desfocado */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}
 
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
 
.projeto-grid .card:nth-child(2) { transition-delay: 200ms; }
.projeto-grid .card:nth-child(3) { transition-delay: 400ms; }
 
#habilidades.show .skill-tag {
    animation: popIn 0.5s cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
}

@keyframes popIn {
    from { transform: scale(0); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
/* CODIGO BIANRIO////////////////////////////////////////////////////////////////////////////////////////////////// */


.binary-wrapper {
    background-color: #000c08;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    display: flex; 
    justify-content: space-around;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.binary-column {
    font-family: monospace;
    font-size: 18px;
    color: rgba(14, 188, 14, 0.048);
    text-shadow: 0 0 10px rgba(56, 191, 248, 0.047);
    writing-mode: vertical-rl;
    white-space: nowrap;
    animation: fall linear infinite;
}

@keyframes fall {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.binary-column:nth-child(odd) { animation-duration: 11s; }
.binary-column:nth-child(even) { animation-duration: 13s; }
.binary-column:nth-child(3n) { animation-duration: 8s; animation-delay: 1s; }
.binary-column:nth-child(4n) { animation-duration: 14s; animation-delay: 0.5s; }
.binary-column:nth-child(5n) { animation-duration: 11s; animation-delay: 2s; }
.binary-column:nth-child(6n) { animation-duration: 16s; animation-delay: 1.2s; }
.binary-column:nth-child(7n) { animation-duration: 9s; animation-delay: 1.8s; }


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


